<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> IcoInfo </title>
    <link rel="stylesheet" href="http://lib.cb.madeta.cz/css/madeta-jqui.v4.css" />
    <style>
        
        body{
            margin: 0;
            background-image: linear-gradient(to right, rgb(193, 210, 247), #014990);
        }
        .display-textContainer {
            
            display: inline-block;
            vertical-align: top;
            padding-top: 2em;
        }
        .fixed{
           
            vertical-align: auto;
            position: fixed;
        }
        .fixed-div {
           
           display: inline-block;
           position: fixed;
           padding-top: 2em;
        }
        .topnav {
            overflow: hidden;
            background-color: #333;
            position: fixed;
            width: 100%;
        }
        .topnav a {
          float: left;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
        }

        .topnav a:hover {
          background-color: #ddd;
          color: black;
         
        }

        .topnav a.active {
          background-color: #2444d4;
          color: rgb(247, 247, 247);
        }
        .slidebar a{
            overflow: hidden;
            display: inline-block;
            color: aqua;
            text-align: center;
            padding: 14px 32px;
            text-decoration: none;
            font-size: 17px;
            background-color: #333;
            transition: height 1.5s;
            width: 4%;
            height: 20px;
            position: fixed;
            right: 0;

        }
        .slidebar a:hover{
            background-color: #ddd;
            color: black;
            height: 800px;
        }
        .img-logo{
            right: 0;
            position: fixed;
            margin-right: 15em;
            z-index: -1;
            display: inline-block;
            top: 0;
            margin-top: 5em;
        }
        .content {
            display: none;
            padding: 20px;
        }
        
        .red{
            background-color: #ffbb00;
            
        }
    </style>
</head>
<body>
    <header>  
        <div class="topnav">
            <a class="active" href="#ARES/DPH">ARES/DPH</a>
            <a href="#ICO">ARES data</a>
            <a href="#DIC">DPH data</a>
            <a href="#ICODIC">Data table</a>

            <div class="slidebar">

                <a>:</a>
            </div>

        </div>
    </header>      
    <div id="ARES/DPH" class="content" style="display: block;">
        <br>
        <br>

        <div class="fixed">

            <form action=""></form>
            <input type="text" id="icoInput" name="icoInput">

            <button class="ui-button" onclick="createAresTextBox(); false;">ARES</button>
            <button class="ui-button" onclick="createDphRegisterextBox(); false;">DPH Register</button>

        </div> 

        <br>
        <div class="img-logo" id="imgContainer">
            <img src="http://localhost:8080/resources/madeta_logo.png" alt="madeta logo">
        </div>
        <div class="display-textContainer" id="textBoxContainer"></div>
        <div class="display-textContainer" id="textBoxContainer2"></div>
    </div>

    <div id="ICO" class="content">

        <div>
            <table id="dataTableIco" class="md-tableView">
                <thead>
                    <br>
                    <br>
                    
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>ico</th>
                        <th>updatedAt</th>
                    </tr>
                </thead>
                <tbody id="tableBodyIco">

                </tbody>

            </table>
        </div>
        <div class="img-logo" id="imgContainer">
            <img src="http://localhost:8080/resources/madeta_logo.png" alt="madeta logo">
        </div>
    </div>

    <div id="DIC" class="content">
        <div>
            <table id="dataTableDic" class="md-tableView">
                <thead>
                    <br>
                    <br>
                    
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>dic</th>
                        <th>unreliablePayer</th>
                        <th>updatedAt</th>
                    </tr>
                </thead>
                <tbody id="tableBodyDic">

                </tbody>

            </table>
        </div>
        <div class="img-logo" id="imgContainer">
            <img src="http://localhost:8080/resources/madeta_logo.png" alt="madeta logo">
        </div>

    </div>

    <div id="ICODIC" class="content">
        <div>
            <table id="dataTableIcodic" class="md-tableView">
                <thead>
                    <br>
                    <br>
                    
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>icodic</th>
                        <th>updatedAt</th>
                    </tr>
                </thead>
                <tbody id="tableBodyIcodic">

                </tbody>

            </table>
        </div>
        <div class="img-logo" id="imgContainer">
            <img src="http://localhost:8080/resources/madeta_logo.png" alt="madeta logo">
        </div>

    </div>

    <script>
//data table for ico DB
        async function fetchBDIco(){
            const response = await fetch('http://localhost:8080/mariaDbForIcodic-0.0.1-SNAPSHOT/fetchBDIco')
            const data = await response.json();
            return data;
        }

        async function populateTableIco(){
            const data = await fetchBDIco();
            const tableBodyIco = document.getElementById('tableBodyIco')

            tableBodyIco.innerHTML = '';

            data.forEach(item => {
                const row = '<tr><td>' + item.id +'</td><td>' + item.name + '</td><td>' + item.icodic + '</td><td>' + item.updatedAt + '</td></tr>';
                tableBodyIco.innerHTML += row;
            });
        }
//data table for dic DB
        async function fetchBDDic(){
            const response = await fetch('http://localhost:8080/mariaDbForIcodic-0.0.1-SNAPSHOT/fetchBDDic')
            const data = await response.json();
            return data;
        }

        async function populateTableDic(){
            const data = await fetchBDDic();
            const tableBodyDic = document.getElementById('tableBodyDic')

            tableBodyDic.innerHTML = '';

            data.forEach(item => {
                let row = '<tr style="background-color: green; color: white"><td>' + item.id +'</td><td>' + item.name + '</td><td>' + item.icodic + '</td><td>' + item.unreliablePayer + '</td><td>' + item.updatedAt + '</td></tr>';
                console.log(item)
                if(item.unreliablePayer == "ANO"){
                    row = '<tr style="background-color: #d80027; color: white"><td>' + item.id +'</td><td>' + item.name + '</td><td>' + item.icodic + '</td><td>' + item.unreliablePayer + '</td><td>' + item.updatedAt + '</td></tr>';
                }else if(item.unreliablePayer == ""){
                    row = '<tr style="background-color: #ffbb00; color: black"><td>' + item.id +'</td><td>' + item.name + '</td><td>' + item.icodic + '</td><td>Unchecked/NotInDPH</td><td>' + item.updatedAt + '</td></tr>';
                }
                tableBodyDic.innerHTML += row;
            });
        }
//data table for icodic
async function fetchBDIcodic(){
            const response = await fetch('http://localhost:8080/mariaDbForIcodic-0.0.1-SNAPSHOT/fetchBDIcodic')
            const data = await response.json();
            return data;
        }

        async function populateTableIcodic(){
            const data = await fetchBDIcodic();
            const tableBodyIcodic = document.getElementById('tableBodyIcodic')

            tableBodyIcodic.innerHTML = '';

            data.forEach(item => {
                const row = '<tr><td>' + item.id +'</td><td>' + item.name + '</td><td>' + item.icodic + '</td><td>' + item.updatedAt + '</td></tr>';
                tableBodyIcodic.innerHTML += row;
            });
        }
        window.onload = () => {
            populateTableIco();
            populateTableDic();
            populateTableIcodic();
        };
        
        document.addEventListener("DOMContentLoaded", function() {
        var tabs = document.querySelectorAll('.topnav a');

            tabs.forEach(function(tab) {
                tab.addEventListener('click', function(event) {
                    event.preventDefault();
                    var targetId = this.getAttribute('href').substring(1);
                    var contents = document.querySelectorAll('.content');
                
                    contents.forEach(function(content) {
                        if (content.id === targetId) {
                            content.style.display = 'block';
                        } else {
                            content.style.display = 'none';
                        }
                    });

                    tabs.forEach(function(tab) {
                        tab.classList.remove('active');
                    });

                    this.classList.add('active');
                });
            });
        });
        
        function createAresTextBox() {   

            var inputData = document.getElementById("icoInput").value;
            var dicValues = inputData.split(',').map(value => value.trim());
            var jsonData = JSON.stringify(dicValues);

            console.log(inputData)
            fetch('http://localhost:8080/icoJasonParse-0.0.1-SNAPSHOT/fetchAres', {
                method: "POST",
                headers: {
                         "Content-type": "application/json;charset=UTF-8"
                },
                body: jsonData
            })            
            .then(function(response){
                fetch_status = response.status;
                return response.json();  
            })
            .then(function(json){
                if (fetch_status == 200){
                    var textContainer = document.getElementById("textBoxContainer");
                    var data;
                    data = json.data;
                    data.forEach(function(item){
                        
                        for (var key in item) {
                            if (item.hasOwnProperty(key)){
                                var value = item[key];

                                var label = document.createElement("label");
                                label.style.cssText = 'display: inline-block; width:10em; label';
                                label.innerHTML = key;
                                var textBox = document.createElement("input");
                                textBox.type = "text";
                                textBox.readOnly = true;
                                textBox.value = value;
                                textContainer.appendChild(label);
                                textContainer.appendChild(textBox);
                                textContainer.appendChild(document.createElement("br"));
                            }
                        }
                        textContainer.appendChild(document.createElement("hr"));
                     });
                    
                }
            })
            .catch(function(error){
                console.log(error);
            });                
        }      
        function createDphRegisterextBox(){
            var inputData = document.getElementById("icoInput").value;
            var dicValues = inputData.split(',').map(value => value.trim());
            var jsonData = JSON.stringify(dicValues);

            console.log(inputData)
            fetch('http://localhost:8080/icoJasonParse-0.0.1-SNAPSHOT/fetchDPHStatus' , {
                method: "POST",
                headers: {
                         "Content-type": "application/json;charset=UTF-8"
                },
                body: jsonData
            })
            
            .then(function(response){
                fetch_status = response.status;
                return response.json();  
            })
            .then(function(json){
                if (fetch_status == 200){
                    var textContainer = document.getElementById("textBoxContainer2");
                    var data;
                    dics = inputData;
                    showMoreInfoOnUnreliablePayer(dics)
                    
                 }
            })
            .catch(function(error){
                console.log(error);
            });    
        //})    
        }
    
        function showMoreInfoOnUnreliablePayer(dics){
            console.log(dics + "****")
            
            var inputData = document.getElementById("icoInput").value;
            var dicValues = inputData.split(',').map(value => value.trim());
            jsontData = JSON.stringify(dicValues);

            fetch('http://localhost:8080/icoJasonParse-0.0.1-SNAPSHOT/fetchAdditionalInfoFor' , {
                method: "POST",
                headers: {
                         "Content-type": "application/json;charset=UTF-8"
                },
                body: jsontData
            })
            
            .then(function(response){
                fetch_status = response.status;
                return response.json();  
            })
            .then(function(json){
                if (fetch_status == 200){
                    var textContainer = document.getElementById("textBoxContainer");
                    
                    console.log(json.data)
                    iterateObject(json.data)                  
                  
                }                
            })
            .catch(function(error){
                console.log(error);
            });   
        }            
        
        function iterateObject(obj, depth = 0){
            for (let key in obj){
                var textContainer = document.getElementById("textBoxContainer2");
                console.log(obj, key + "---------")
                if(key === "num"){
                    if(obj[key] % 2 == 0){
                         textContainer = document.getElementById("textBoxContainer2");
                    }
                    else{
                        textContainer = document.getElementById("textBoxContainer3");
                    }
                }
                
                if(obj.hasOwnProperty(key)){
                    if(typeof obj[key] === 'object' && obj[key] !== null){
                        iterateObject(obj[key], depth + 1);
                    }else{
                        console.log("else")
                        if(key === "datumZverejneni"){
                            textContainer.appendChild(document.createElement("hr"));
                        }
                        else if (key === "psc"){
                            textContainer.appendChild(document.createElement("hr"));
                        }
                        else if (key === "nazevSubjektu"){
                            var br = document.createElement("span");
                            br.innerHTML = "<---------------------------------------------------------------------------------------------->";
                            br.style.color = "green";
                            textContainer.appendChild(br);
                            textContainer.appendChild(document.createElement("hr"));
                            
                        }
                        else if (key)
                        console.log(" ".repeat(depth + 1) + obj[key]);
                        
                        var label = document.createElement("label");
                        label.style.cssText = 'display: inline-block; width:15em;';
                        label.innerHTML = key;
                            
                        var textBox = document.createElement("input");
                        textBox.type = "text";
                        textBox.readOnly = true;
                        textBox.value = obj[key];
                        
                        textContainer.appendChild(label);
                        textContainer.appendChild(textBox);

                        textContainer.appendChild(document.createElement("br"));
                        
                    }
                }
            }
        }
        
    </script>


</body>
</html>