<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> IcoInfo </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
    <link rel="stylesheet" href="http://lib.cb.madeta.cz/css/madeta-jqui.v4.css" />
    <style>
        
        body{
            margin: 0;
            animation: pulse 80s infinite;
            /*background-image: linear-gradient(to right, rgb(193, 210, 247), #014990);*/
        }
        @keyframes pulse {
            0%, 100%{
                background-color:rgb(120, 154, 228);
            }
            25%, 75%{
                background-color:#3f76ad;
            }
            50%{
                background-color:#206d6d;

            }
            
        }
        .display-textContainer {
            
            display: inline-block;
            vertical-align: top;
            padding-top: 2em;
        }
        .fixed{
           
            vertical-align: auto;
            position: fixed;
        }
        .fixed-div {
           
           display: inline-block;
           position: fixed;
           padding-top: 2em;
        }
        .topnav {
            overflow: hidden;
            background-color: #333;
            position: fixed;
            width: 100%;
        }
        .topnav a {
          float: left;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
        }

        .topnav a:hover {
          background-color: #ddd;
          color: black;
         
        }

        .topnav a.active {
          background-color: #2444d4;
          color: rgb(247, 247, 247);
        }
        .slidebar a{
            overflow: hidden;
            display: inline-block;
            color: aqua;
            text-align: center;
            padding: 14px 32px;
            text-decoration: none;
            font-size: 17px;
            background-color: #333;
            transition: height 1.5s;
            width: 4%;
            height: 20px;
            position: fixed;
            right: 0;

        }
        .slidebar a:hover{
            background-color: #ddd;
            color: black;
            height: 800px;
        }
        .img-logo{
            right: 0;
            position: fixed;
            margin-right: 15em;
            z-index: -1;
            display: inline-block;
            top: 0;
            margin-top: 5em;
            
        }
        .content {
            display: none;
            padding: 20px;
        }
        
        .red{
            background-color: #DC143C;
            color: #ffffff;
            
        }
        .green{
            background-color: #14DCB4;
            color: #000000;
            
        }
        .blue{
            background-color: #10E3E3;
            
        }
        .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            top: 100%;
            left: 0;
            right: 0;
        }
        
        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff; 
            border-bottom: 1px solid #d4d4d4; 
        }
        
        .autocomplete-items div:hover {
            background-color: #e9e9e9; 
        }
        
        /*when navigating through the items using the arrow keys:*/
        .autocomplete-active {
            background-color: DodgerBlue !important; 
            color: #ffffff; 
        }

    </style>
</head>
<body>
    <header>  
        <div class="topnav">
            <a class="active" href="#ARES/DPH">ARES/DPH</a>
            <a href="#ICO">ARES data</a>
            <a href="#DIC">DPH data</a>
            <a href="#ICODIC">Data table</a>

            <div class="slidebar">

                <a>:</a>
            </div>

        </div>
    </header>      
    <div id="ARES/DPH" class="content" style="display: block;">
        <br>
        <br>

        <div class="fixed">

            <!--<form autocomplete="off">
            </form>-->

                <input type="text" id="icoInput" name="icoInput" autocomplete="off">
                <button class="ui-button" onclick="createAresTextBox(); false;">ARES</button>
                <button class="ui-button" onclick="createDphRegisterextBox(); false;">DPH Register</button>


        </div> 

        
        <div class="img-logo" id="imgContainer">
            <img src="http://localhost:8080/resources/madeta_logo.png" alt="madeta logo">
        </div>
        <div>
            <div class="display-textContainer" id="textBoxContainer"></div>
            <div class="display-textContainer" id="textBoxContainer2"></div>
        </div>
    </div>
    <div id="ICO" class="content">

        <div>
            <table id="dataTableIco" class="md-tableView">
                <thead>
                    <br>
                    <br>
                    
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>ico</th>
                        <th>updatedAt</th>
                    </tr>
                </thead>
                <tbody id="tableBodyIco">

                </tbody>

            </table>
        </div>
        <div class="img-logo" id="imgContainer">
            <img src="http://localhost:8080/resources/madeta_logo.png" alt="madeta logo">
        </div>
    </div>

    <div id="DIC" class="content">
        <div>
            <table id="dataTableDic" class="md-tableView">
                <thead>
                    <br>
                    <br>
                    
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>dic</th>
                        <th>unreliablePayer</th>
                        <th>updatedAt</th>
                        <th>toPdf</th>
                    </tr>
                </thead>
                <tbody id="tableBodyDic">

                </tbody>
                <div id="pdfContainer"></div>
            </table>
        </div>
        <div class="img-logo" id="imgContainer">
            <img src="http://localhost:8080/resources/madeta_logo.png" alt="madeta logo">
        </div>

    </div>

    <div id="ICODIC" class="content">
        <div>
            <table id="dataTableIcodic" class="md-tableView">
                <thead>
                    <br>
                    <br>
                    
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>icodic</th>
                        <th>updatedAt</th>
                    </tr>
                </thead>
                <tbody id="tableBodyIcodic">

                </tbody>

            </table>
        </div>
        <div class="img-logo" id="imgContainer">
            <img src="http://localhost:8080/resources/madeta_logo.png" alt="madeta logo">
        </div>
    </div>

    <script>
//data table for ico DB
        async function fetchBDIco(){
            const response = await fetch('http://localhost:8080/mariaDbForIcodic-0.0.1-SNAPSHOT/fetchBDIco')
            const data = await response.json();
            return data;
        }

        async function populateTableIco(){
            const data = await fetchBDIco();
            const tableBodyIco = document.getElementById('tableBodyIco')

            tableBodyIco.innerHTML = '';

            data.forEach(item => {
                const row = '<tr><td>' + item.id +'</td><td>' + item.name + '</td><td>' + item.icodic + '</td><td>' + item.updatedAt + '</td></tr>';
                tableBodyIco.innerHTML += row;
            });
        }
//data table for dic DB
        async function fetchBDDic(){
            const response = await fetch('http://localhost:8080/mariaDbForIcodic-0.0.1-SNAPSHOT/fetchBDDic')
            const data = await response.json();
            return data;
        }

        async function populateTableDic(){
            const data = await fetchBDDic();
            const tableBodyDic = document.getElementById('tableBodyDic')
            const tableBodyUnreliablePayer = document.getElementById('tableBodyUnreliablePayer')
            tableBodyDic.innerHTML = '';
            data.forEach(item => {
                let icodic = item.icodic;

                //let icodicString = icodicInt.toFixed(0);
                let row = '<tr class="green"><td>' + item.id +'</td><td>' + item.name + '</td><td>' + item.icodic + '</td><td>' + item.unreliablePayer + '</td><td>' + item.updatedAt + '</td><td></td></tr>';
                if(item.unreliablePayer == "ANO"){
                    row = '<tr class="red"><td>' + item.id +'</td><td>' + item.name + '</td><td>' + item.icodic + '</td><td>' + item.unreliablePayer + '</td><td>' + item.updatedAt + '</td><td>' + '<button class="ui-button" onclick="printPdf(' + "'" + icodic + "'" + ')"; return false;>Pdf print</button>' + '</td></tr>';

                }else if(item.unreliablePayer == ""){
                    row = '<tr style="background-color: #ffbb00; color: black"><td>' + item.id +'</td><td>' + item.name + '</td><td>' + item.icodic + '</td><td>Unchecked/NotInDPH</td><td>"' + item.updatedAt + '"</td></tr>';
                }
                tableBodyDic.innerHTML += row;
            });

            
        }
//pdf print button func
        function printPdf(icodic){
            console.log(icodic)
            console.log(typeof(icodic));
            fetch('http://localhost:8080/icoJasonParse-0.0.1-SNAPSHOT/printPDF', {
                method: "POST",
                headers: {
                         "Content-type": "application/json;charset=UTF-8"
                },
                body: icodic
            })            
            .then(response => {
                const filename = response.headers.get('Content-Disposition').split('filename=')[1];
                return response.blob().then(blob => ({ filename, blob }));})
            .then(data => {
                const { filename, blob } = data;
                const blobUrl = URL.createObjectURL(blob);
                console.log(blob, filename)
                
                const downloadLink = document.createElement('a');
                downloadLink.href = blobUrl;
                downloadLink.download = filename + ".pdf"; 
                        
                document.body.appendChild(downloadLink);
                        
                downloadLink.click();
                        
                document.body.removeChild(downloadLink);
            })
            .catch(error => {
            console.error('Error:', error);
            });
                
            //const {jsPDF} = window.jspdf;
//
            //const doc = new jsPDF();
            //doc.text("PDF for dic", 100, 10, align = "center" );  
            //doc.save(icodic + ".pdf");
        }
//data table for icodic
        async function fetchBDIcodic(){
            const response = await fetch('http://localhost:8080/mariaDbForIcodic-0.0.1-SNAPSHOT/fetchBDIcodic')
            const data = await response.json();
            return data;
        }

        async function populateTableIcodic(){
            const data = await fetchBDIcodic();
            const tableBodyIcodic = document.getElementById('tableBodyIcodic')

            tableBodyIcodic.innerHTML = '';

            data.forEach(item => {
                const row = '<tr><td>' + item.id +'</td><td>' + item.name + '</td><td>' + item.icodic + '</td><td>' + item.updatedAt + '</td></tr>';
                tableBodyIcodic.innerHTML += row;
            });
        }
        window.onload = () => {
            populateTableIco();
            populateTableDic();
            populateTableIcodic();
        };
        
        document.addEventListener("DOMContentLoaded", function() {
        var tabs = document.querySelectorAll('.topnav a');

            tabs.forEach(function(tab) {
                tab.addEventListener('click', function(event) {
                    event.preventDefault();
                    var targetId = this.getAttribute('href').substring(1);
                    var contents = document.querySelectorAll('.content');
                
                    contents.forEach(function(content) {
                        if (content.id === targetId) {
                            content.style.display = 'block';
                        } else {
                            content.style.display = 'none';
                        }
                    });

                    tabs.forEach(function(tab) {
                        tab.classList.remove('active');
                    });

                    this.classList.add('active');
                });
            });
        });
        
        function createAresTextBox() {   

            var inputData = document.getElementById("icoInput").value;
            var dicValues = inputData.split(',').map(value => value.trim());
            
            for (var i = 0; i <= dicValues.length - 1; i++){
                if(dicValues[i] == ""){
                    dicValues[i] = dicValues[i+1];
                }
            }
            var jsonData = JSON.stringify(dicValues);
            
            

            fetch('http://localhost:8080/icoJasonParse-0.0.1-SNAPSHOT/fetchAres', {
                method: "POST",
                headers: {
                         "Content-type": "application/json;charset=UTF-8"
                },
                body: jsonData
            })            
            .then(function(response){
                fetch_status = response.status;
                return response.json();  
            })
            .then(function(json){
                if (fetch_status == 200){
                    var textContainer = document.getElementById("textBoxContainer");
                    var data;
                    data = json.data;
                    data.forEach(function(item){
                        
                        for (var key in item) {
                            if (item.hasOwnProperty(key)){
                                var value = item[key];

                                var label = document.createElement("label");
                                label.style.cssText = 'display: inline-block; width:10em; label';
                                label.innerHTML = key;
                                var textBox = document.createElement("input");
                                textBox.type = "text";
                                textBox.readOnly = true;
                                textBox.value = value;
                                textContainer.appendChild(label);
                                textContainer.appendChild(textBox);
                                textContainer.appendChild(document.createElement("br"));
                            }
                        }
                        textContainer.appendChild(document.createElement("hr"));
                     });
                    
                }
            })
            .catch(function(error){
                console.log(error);
            });                
        }      
        function createDphRegisterextBox(){
            var inputData = document.getElementById("icoInput").value;
            var dicValues = inputData.split(',').map(value => value.trim());

            for (var i = 0; i <= dicValues.length - 1; i++){
                if(dicValues[i] == ""){
                    dicValues[i] = dicValues[i+1];
                }
            }
            var jsonData = JSON.stringify(dicValues);
            var jsonData = JSON.stringify(dicValues);

            fetch('http://localhost:8080/icoJasonParse-0.0.1-SNAPSHOT/fetchDPHStatus' , {
                method: "POST",
                headers: {
                         "Content-type": "application/json;charset=UTF-8"
                },
                body: jsonData
            })
            
            .then(function(response){
                fetch_status = response.status;
                return response.json();  
            })
            .then(function(json){
                if (fetch_status == 200){
                    var textContainer = document.getElementById("textBoxContainer2");
                    var data;
                    dics = inputData;
                    showMoreInfoOnUnreliablePayer(dics)
                    
                 }
            })
            .catch(function(error){
                console.log(error);
            });    
        //})    
        }
    
        function showMoreInfoOnUnreliablePayer(dics){
            
            var inputData = document.getElementById("icoInput").value;
            var dicValues = inputData.split(',').map(value => value.trim());
            jsontData = JSON.stringify(dicValues);

            fetch('http://localhost:8080/icoJasonParse-0.0.1-SNAPSHOT/fetchAdditionalInfoFor' , {
                method: "POST",
                headers: {
                         "Content-type": "application/json;charset=UTF-8"
                },
                body: jsontData
            })
            
            .then(function(response){
                fetch_status = response.status;
                return response.json();  
            })
            .then(function(json){
                if (fetch_status == 200){
                    var textContainer = document.getElementById("textBoxContainer");
                    
                    iterateObject(json.data)                  
                  
                }                
            })
            .catch(function(error){
                console.log(error);
            });   
        }            
        
        function iterateObject(obj, depth = 0){
            for (let key in obj){
                var textContainer = document.getElementById("textBoxContainer2");
                
                
                if(obj.hasOwnProperty(key)){
                    if(typeof obj[key] === 'object' && obj[key] !== null){
                        iterateObject(obj[key], depth + 1);
                    }else{
                        if(key === "datumZverejneni"){
                            textContainer.appendChild(document.createElement("hr"));
                        }
                        else if (key === "psc"){
                            textContainer.appendChild(document.createElement("hr"));
                        }
                        else if (key === "nazevSubjektu"){
                            var br = document.createElement("span");
                            br.innerHTML = "<---------------------------------------------------------------------------------------------->";
                            br.style.color = "green";
                            textContainer.appendChild(br);
                            textContainer.appendChild(document.createElement("hr"));
                            
                        }
                        else if (key)
                        console.log(" ".repeat(depth + 1) + obj[key]);
                        
                        var label = document.createElement("label");
                        label.style.cssText = 'display: inline-block; width:15em;';
                        label.innerHTML = key;
                        
                        if(key == "xmlns"){
                            var link = document.createElement("a");
                            link.value = obj[key];
                            link.textContent = "adis"
                            link.href = "http://adis.mfcr.cz/rozhraniCRPDPH/";
                            textContainer.appendChild(document.createElement("hr"));
                            textContainer.appendChild(label);
                            textContainer.appendChild(link);

                        }else{    
                            var textBox = document.createElement("input");
                            textBox.value = obj[key];
                            textBox.type = "text";
                            textBox.readOnly = true;
                            textContainer.appendChild(label);
                            textContainer.appendChild(textBox);
                        }
                            
                        textContainer.appendChild(document.createElement("br"));
                        
                    }
                }
            }
        }
        function autocomplete(inputData, icodicJson){

            var currFocus;
            inputData.addEventListener("input", function(e) {
                var a, b, i, val = this.value;

                closeAllLists();
                if(!val){return false;}
                currFocus = -1;

                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");

                this.parentNode.appendChild(a);

                for(i = 0; i < icodicJson.length; i++){
                    if (icodicJson[i].icodic.substr(0, val.length).toUpperCase() == val.toUpperCase() || icodicJson[i].name.substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        b = document.createElement("DIV");
                        b.innerHTML = "<strong>" + icodicJson[i].icodic.substr(0, val.length) + "</strong>";
                        b.innerHTML += icodicJson[i].icodic.substr(val.length) + "&emsp;"  + icodicJson[i].name;
                        b.innerHTML += "<input type='hidden' value='" + icodicJson[i].icodic + "'>";
                        b.addEventListener("click", function(e) {
                            inputData.value = this.getElementsByTagName("input")[0].value;
                            closeAllLists();
                        });

                        a.appendChild(b);
      
                    }
                }
            
            });

            inputData.addEventListener("keydown", function(e){
                var x = document.getElementById(this.id + "autocomplete-list");
                if(x) x = x.getElementsByTagName("div");
                if(e.keyCode == 40){
                    currFocus++;
                    addActive(x);
                } else if (e.keyCode == 38){
                    currFocus--;
                    addActive(x);
                } else if (e.keyCode == 13){
                    e.preventDefault();
                    if(currFocus > -1){
                        if(x) x[currFocus].click();
                    }
                }
            });
            function addActive(x){
                if(!x) return false;

                removeActive(x);
                if(currFocus >= x.length) currFocus = 0;
                if(currFocus < 0) currFocus = (x.length - 1);

                x[currFocus].classList.add("autocomplete-active");
            }
            function removeActive(x){
                for(var i = 0; i < x.length; i++){
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt){
                var x = document.getElementsByClassName("autocomplete-items");
                for(var i = 0; i < x.length; i++){
                    if(elmnt != x[i] && elmnt != inputData){
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            document.addEventListener("click", function(e){
                closeAllLists(e.target);
            });
        }

        const dataPromise = fetchBDIcodic();
        dataPromise.then(data =>{
            const dataAutofill = data;
            autocomplete(document.getElementById("icoInput"), dataAutofill)
        }).catch(error => {
        
        console.error(error);
        });
        
        //fetch('https://intranet.cb.madeta.cz/html/body/div[1]/div[2]/div[3]/div[1]/div[1]/div')
        //    .then(response => response.text())
        //    .then(html => {
        //        const blogDiv = document.createElement("div");
        //        blogDiv.innerHTML = html;
        //        document.body.appendChild(blogDiv);
        //    })
        //    .catch(error => {
        //        console.log("ERROR ", error );
        //    })
        function isEmpty(value) {
  return (typeof value === 'undefined' || value === null || value === '' ||
    (typeof value === 'object' && Object.keys(value).length == 0) ||
    (typeof value === 'string' && value.toLowerCase() === 'invalid date'));
}
    </script>


</body>
</html>